.fuenteParrafo{
    text-align: justify;
}

b2{
    color: rgb(3, 3, 3);
    font-family:italic;
    font-weight: 200;
    text-transform: capitalize;
    font-size: larger;
}
b{
        color: rgb(3, 3, 3);
        font-family:italic;
        font-weight: 200;
        text-transform: capitalize;
        font-size: x-large;
}
.wh{ width:10%;
    height:20px;}
h1{
    width: 30%;
    height: 20%;
}
/*contenedor rojo*/
/*Ejemplo: Nest Hub Max*/
@media only screen and (min-width: 1200px){
    .enlace{
        text-decoration: none;
        margin-left: 15px;
    }
    
    .enlace:hover{
        font-weight: bold;
    }
    
    h1{
        font-family: Impact;
        font-weight: 200;
        color:rgb(8, 8, 8);
        width: 100%;
    }

    .cabecera{
        background-color: rgb(235, 235, 235);
        padding: 20px 0px 10px 0px;
    }
    
    .contenedor{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgb(7, 4, 4);
        padding: 10px 5px;
    }
    
    .contenedorIzq{
        width: 30%;
        display: flex;
        flex-direction: column;
    }

    footer{
        background-color: rgb(255, 255, 255);
        color: rgb(250, 250, 255);
        padding: 30px;
        text-align: center;
    }
    
    .imagenCard{
        width:20%;      
    }
    
    .contenedorFooter{
        display: flex;
        flex-direction: row;
    }
    
    .footerVert{
        display: flex;
        flex-direction: column;
        width: 35%;
        margin-left: 10%;
        font-family: "calibri";
    }
    
    .footerHor{
        display: flex;
        flex-direction: row;
        width: 30%;
        margin-left: 13%;
    }
   
}

/*contenedor original*/
/*Ejemplo: Nest Hub*/
@media only screen and (min-width: 900px) and (max-width: 1199px){        
    .enlace{
        text-decoration: none;
        margin-left: 15px;
    }
    
    .enlace:hover{
        font-weight: bold;
    }
    
    h1{
        font-family: Impact;
        font-weight: 100;
        background-color: rgba(47, 19, 206, 0.932);
        color:rgba(43, 74, 212, 0.829);
    }

    .cabecera{
        background-color: rgb(133, 135, 247);
        padding: 20px 0px 10px 0px;
    }
    
    .contenedor{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgb(197, 25, 97);
        padding: 10px 5px;
        font-family:italic;
    }
    
    .contenedorIzq{
        width: 30%;
        display: flex;
        flex-direction: column;
    }

    .contenedorDer{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer{
        background-color: rgb(50, 30, 223);
        color: rgba(125, 67, 179, 0.877);
        padding: 30px;
        text-align: center;
    }
    
    .imagenCard{
        width: 20%;      
    }
    
    .contenedorFooter{
        display: flex;
        flex-direction: row;
    }
    
    .footerVert{
        display: flex;
        flex-direction: column;
        width: 35%;
        margin-left: 10%;
        font-family: "calibri";
    }
    
    .footerHor{
        display: flex;
        flex-direction: row;
        width: 40%;
        margin-left: 13%;
    }

}

/*contenedor negro*/
/*Por ejemplo: Ipad Air*/
@media only screen and (min-width: 768px) and (max-width: 899px){
    .enlace{
        text-decoration: none;
        margin-left: 15px;
    }
    
    .enlace:hover{
        font-weight: bold;
    }
    
    h1{
        font-family: Impact;
        font-weight: 100;
        color:rgb(228, 228, 228);
    }

    .cabecera{
        background-color: rgb(255, 255, 255);
        padding: 20px 0px 10px 0px;
    }
    
    .contenedor{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgb(47, 50, 207);
        padding: 10px 5px;
    }
    
    .contenedorIzq{
        width: 30%;
        display: flex;
        flex-direction: column;
    }

    .contenedorDer{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .imagenCard{
        width: 40%;      
    }
    
    .contenedorFooter{
        display: flex;
        flex-direction: row;
    }
    
    .footerVert{
        display: flex;
        flex-direction: column;
        width: 35%;
        margin-left: 10%;
        font-family: "calibri";
    }
    
    .footerHor{
        display: flex;
        flex-direction: row;
        width: 40%;
        margin-left: 13%;
    }
}

/*contenedor azul*/
/*Ejemplo: Surface Duo*/
@media only screen and (min-width: 480px) and (max-width: 767px){
    .enlace{
        text-decoration: none;
        margin-left: 15px;
    }
    
    .enlace:hover{
        font-weight: bold;
    }
    
    h1{
        font-family: Impact;
        font-weight: 100;
        color:rgb(255, 255, 255);
    }

    .cabecera{
        background-color: rgb(230, 230, 241);
        padding: 20px 0px 10px 0px;
    }
    .main{ width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgb(229, 229, 234);
        padding: 10px 5px;

    }
    
    .contenedor{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgb(229, 229, 234);
        padding: 10px 5px;
    }
    
    .contenedorIzq{
        width: 30%;
        display: flex;
        flex-direction: column;
    }

    .contenedorDer{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer{
        background-color: rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        padding: 30px;
        text-align: center;
    }
    
    .imagenCard{
        width: 100%;      
    }
    
    .contenedorFooter{
        display: flex;
        flex-direction: row;
    }
    
    .footerVert{
        display: flex;
        flex-direction: column;
        width: 35%;
        margin-left: 10%;
        font-family: "calibri";
    }
    
    .footerHor{
        display: flex;
        flex-direction: row;
        width: 40%;
        margin-left: 13%;
    }
}

/*Ejemplo: Samsung Galaxy S20 Ultra*/
@media only screen and (max-width: 479px){
    .enlace{
        text-decoration: none;
        margin-left: 10px;
    }
    
    .enlace:hover{
        font-weight: bold;
    }
    
    h1{
        font-family: Impact;
        font-weight: 100;
        color:rgb(230, 221, 221);
    }

    .cabecera{
        background-color: rgb(253, 251, 251);
        padding: 20px 0px 10px 0px;
    }
    
    .contenedor{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgb(255, 255, 255);
        padding: 10px 5px;
    }
    
    .contenedorIzq{
        width: 30%;
        display: flex;
        flex-direction: column;
    }

    .contenedorDer{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }   
    
    .contenedorFooter{
        display: flex;
        flex-direction: row;
    }
    
    .footerVert{
        display: flex;
        flex-direction: column;
        width: 35%;
        margin-left: 10%;
        font-family: "calibri";
    }
    
    .footerHor{
        display: flex;
        flex-direction: row;
        width: 25%;
        margin-left: 13%;
    }
}
